footer {
<<<<<<< HEAD
  background-color: #ffffff;
  height: 60px;
  width: 100%;
  border-top: 1px solid #cccccc;
  bottom: 0;
  position: fixed;
}

footer p {
  position: relative;
  text-align: center;
  top: 10px;
  bottom: 0;
}
=======
    position: fixed;
    background: #FFF;
    height: 60px;
    width: 100%;
    bottom: 0;
    border: 1px solid #CCCCCC;
}
footer p {
    position: absolute;
    text-align: center;
    top: 10%;
    bottom: 0;
    right: 0;
    left: 0;
}
>>>>>>> c331e0998a0928fd4dbeeb45345fffaa93cce776
